.everything {
  background-color: red;
}

p {
  font-size: 120%;
  font-family: Roboto;
}

.nav-text {
  font-size: 18px;
}

.code-header {
  display: flex;
  justify-content: space-between;
}

.filter {
  border: 1px solid black;
  height: 26px;
  width: 80px;
  text-align: center;
  margin-right: 4%;
}

.code-project {
  background-size: cover;
  color: white;
}

#smash-computer {
  background-image: url(./project-images/smash-computer.png);
  background-size: cover;
  color: white;
  font-weight: bold;
  -webkit-filter: blur(1px);
}

#web-drum-kit:hover {
  opacity: 0.5;
  cursor: pointer;
}

#web-drum-kit {
  background-image: url(./project-images/web-drum-kit.png);
  background-size: cover;
  color: white;
  font-weight: bold;
  -webkit-filter: blur(1px);
}