.kclFnS {
  background-color: red !important;
}

p {
  font-size: 120%;
  font-family: Roboto;
}

.nav-text {
  font-size: 18px;
}

/* PROJECT PAGE */

.page-header {
  display: flex;
  justify-content: space-between;
  margin-left: 1rem;
}

.filter{
  text-align: center;
  margin-right: 4%;
}

.filter Button {
  min-width: 80px;
}

.code-project {
  background-size: 100%;
  background-position: 50%;
  color: white;
  font-weight: bold;
  position: relative;
  margin: 1rem;
  width: 30%;
  height: 300px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: black;
  padding: 1rem;
}

/* .code-project:hover {
  opacity: 0.5;
  cursor: pointer;
} */

#smash-computer {
  /* background-image: url(./project-images/smash-computer.png); */
}

#web-drum-kit {
  /* background-image: url(./project-images/web-drum-kit.png); */
}

.btn-container {
  position: absolute; 
  bottom: .5rem;  
  left: .5rem;
}

.btn-container Button {
  margin-right: 0.5rem;
}