p {
  font-size: 120%;
  font-family: Roboto;
}

.nav-text {
  font-size: 18px;
}

.code-header {
  display: flex;
  justify-content: space-between;
}

.filter {
  border: 1px solid black;
  height: 26px;
  width: 80px;
  text-align: center;
  margin-right: 4%;
}